a,
button,
input,
select,
textarea
	transition: all var(--dress-ad) var(--dress-at)

	&:focus
		transition-duration: var(--dress-ad-h)

	@media (hover: hover)
		&:hover
			transition-duration: var(--dress-ad-h)
