address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
iframe,
img,
label,
menu,
meter,
nav,
object,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
svg,
table,
ul,
video
	margin-block-start: var(--dc-m-t)
	margin-block-end: var(--dc-m-b)

blockquote, details, pre
	background: var(--dc-bg-2)
	box-sizing: border-box
	padding-block: var(--dc-p)
	padding-inline: var(--dc-p)

blockquote
	--dc-border-left: calc(var(--dc-bs) * 4)
	border-inline-start: var(--dc-border-left) solid var(--dc-bg-3)
	margin-inline-start: 0
	margin-inline-end: 0
	padding-block: var(--dc-m-t) var(--dc-m-b)
	padding-inline-start: calc(var(--dc-p) - var(--dc-border-left))

	> :first-child
		--dc-m-t: 0

	> :last-child
		--dc-m-b: 0

details, pre
	border: var(--dc-bs) solid var(--dc-bg-3)
	border-radius: var(--dc-br)

details
	padding-block: calc(var(--dc-p) / 2)
	padding-block-start: 0

	&[open]
		padding-block-end: 0

hr
	--dc-m-b: calc((var(--dc-m-v) * 2) - var(--dc-bs))
	--dc-m-t: calc(var(--dc-m-v) * 2)
	border: 0
	border-block-start: var(--dc-bs) solid var(--dc-bg-3)

summary
	cursor: pointer
	font-weight: bold
	padding-block: calc(var(--dc-p) / 2)
	padding-inline: var(--dc-p)
	margin-block-end: calc(var(--dc-m-v) * -0.5)
	margin-inline: calc(var(--dc-m-v) * -1)
