body,
html
	inline-size: 100%
	margin: 0
	padding: 0

body
	align-items: center
	background: var(--sc-bg)
	block-size: auto
	box-sizing: content-box
	color: var(--sc-fg)
	font-family: var(--sc-ff)
	font-size: 1rem
	inline-size: auto
	margin-block: 0
	margin-inline: auto
	max-inline-size: var(--sc-mw)
	min-block-size: 100%
	padding-block: 0
	padding-inline: var(--sc-p)

code,
kbd,
pre,
samp,
textarea
	font-family: var(--sc-ff-mono)

html
	font-size: var(--sc-fs)
	height: 100%
	line-height: var(--sc-lh)
	scroll-behavior: smooth
	tab-size: var(--sc-ts)
