:root
	color-scheme: light dark

body,
html
	margin: 0
	padding: 0

body
	align-items: center
	background: var(--dress-bg)
	block-size: auto
	box-sizing: border-box
	color: var(--dress-fg)
	font-family: var(--dress-ff)
	font-size: 1rem
	inline-size: max-content
	margin-block: 0
	margin-inline: auto
	max-inline-size: min(calc(var(--dress-mw) + var(--dress-mp) * 2), calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right)))
	min-block-size: 100%
	padding-block: 0
	padding-inline: var(--dress-p-i)

code,
kbd,
pre,
samp,
textarea
	font-family: var(--dress-ff-mono)

html
	-webkit-text-size-adjust: 100%
	font-size: var(--dress-fs)
	inline-size: 100%
	line-height: var(--dress-lh)
	min-block-size: 100%
	scroll-behavior: smooth
	scroll-padding-block-start: var(--dress-so)
	tab-size: var(--dress-ts)
	text-size-adjust: 100%
