:root
	color-scheme: light dark

body,
html
	margin: 0
	padding: 0

body
	align-items: center
	background: var(--sc-bg)
	block-size: auto
	box-sizing: border-box
	color: var(--sc-fg)
	font-family: var(--sc-ff)
	font-size: 1rem
	inline-size: max-content
	margin-block: 0
	margin-inline: auto
	max-inline-size: min(calc(var(--sc-mw) + var(--sc-mp) * 2), calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right)))
	min-block-size: 100%
	padding-block: 0
	padding-inline: var(--sc-p)

code,
kbd,
pre,
samp,
textarea
	font-family: var(--sc-ff-mono)

html
	-webkit-text-size-adjust: 100%
	font-size: var(--sc-fs)
	inline-size: 100%
	line-height: var(--sc-lh)
	min-block-size: 100%
	scroll-behavior: smooth
	tab-size: var(--sc-ts)
