code, kbd
	background: var(--dc-bg-2)
	border: var(--dc-bs) solid var(--dc-bg-3)
	border-radius: var(--dc-br)
	display: inline
	font-size: calc(var(--dc-cs) * 1em)
	line-height: 1
	padding-block: calc(var(--dc-m-v) / 8 - var(--dc-bs))
	padding-inline: calc(var(--dc-m-v) / 4 - var(--dc-bs))
	margin-block-start: calc(var(--dc-m-v) / 8 - var(--dc-bs) * -1)

kbd
	--dc-border-bottom: calc(var(--dc-bs) * 3) solid var(--dc-bg-3)
	border-block-end: var(--dc-border-bottom)

pre
	overflow-x: auto

	code
		background: none
		border: none
		border-radius: 0
		font-size: 1em
		display: block
		line-height: inherit
		margin: 0
		padding: 0

pre, textarea
	font-size: calc(var(--dc-cs) * 1rem)
	line-height: calc(var(--dc-lh) / var(--dc-cs))
