%input-block
	line-height: var(--dress-lh)
	margin-block: calc(var(--dress-m-b) / 4)
	padding-block: calc(var(--dress-m-b) / 4 - var(--dress-bs))
	padding-inline: calc(var(--dress-m-i) / 2)

%cursor-pointer
	cursor: pointer

[disabled]
	cursor: not-allowed
	filter: grayscale(1)
	opacity: 0.6
	user-select: none

a[role='button'],
button,
input,
select,
textarea
	border-radius: var(--dress-br)
	font-size: 1rem

a[role='button'],
button,
input[type='button'],
input[type='reset'],
input[type='submit']
	@extend %cursor-pointer
	@extend %input-block
	appearance: none
	border-radius: var(--dress-br)
	border: 0
	padding-block: calc(var(--dress-m-b) / 4)

	&:has(+ &)
		margin-inline-end: calc(var(--dress-m-i) / 2)

a[role='button'],
button[type='submit'],
input[type='submit']
	background: var(--dress-bt-1)
	color: var(--dress-bt-1-tx)

	&:not([disabled])
		&:focus, &:hover
			background: var(--dress-bt-1-h)

		&:active
			background: var(--dress-bt-1-a)

button,
html,
input,
select
	font-family: var(--dress-ff)

button,
input[type='button'],
input[type='reset']
	background: var(--dress-bt-2)
	color: var(--dress-bt-2-tx)

	&:not([disabled])
		&:focus, &:hover
			background: var(--dress-bt-2-h)

		&:active
			background: var(--dress-bt-2)

fieldset
	background: var(--dress-bg-2)
	border: var(--dress-bs) solid var(--dress-bg-3)
	border-radius: var(--dress-br)
	margin-inline: 0
	padding-block: var(--dress-p-b) calc(var(--dress-m-b) / 2 * 3 - var(--dress-bs))
	padding-inline: var(--dress-p-i)

	> legend + *
		margin-block-start: 0

	> :last-child
		margin-block-end: 0

input:not([type='button'], [type='checkbox'], [type='radio'], [type='reset'], [type='submit']),
select,
textarea
	@extend %input-block
	appearance: none
	background: var(--dress-bg-2)
	border: var(--dress-bs) solid var(--dress-bg-3)
	border-radius: var(--dress-br)
	box-sizing: border-box
	color: var(--dress-fg)

input[type="checkbox"],
input[type="radio"]
	appearance: none
	aspect-ratio: 1
	background: var(--dress-bg-2)
	border: solid var(--dress-bs) var(--dress-bg-3)
	display: inline-block
	height: auto
	margin: 0
	padding: 0
	vertical-align: baseline
	width: 1rem

	&:checked
		background-color: var(--dress-bt-1)
		background-position: center
		background-repeat: no-repeat
		background-size: 80%
		border-color: var(--dress-bt-1)

	&:not([disabled])
		cursor: pointer

input[type="checkbox"]
	border-radius: var(--dress-br)

	&:checked
		background-image: var(--dress-i-cb)

input[type="radio"]
	border-radius: 50%

	&:checked
		background-image: var(--dress-i-rb)

label
	@extend %cursor-pointer
	display: flex
	flex-flow: column

	input,
	select,
	textarea,
	> small,
	> span
		display: block

	small
		line-height: calc(var(--dress-lh) * 1rem)

	&:has([disabled])
		cursor: not-allowed
		filter: grayscale(1)
		opacity: 0.6

		button, input, select, textarea
			opacity: revert

	&:has(input[type='checkbox'], input[type='radio'])
		align-items: center
		column-gap: var(--dress-gap)
		flex-flow: row
		justify-content: flex-start

	&:has(input:nth-of-type(2))
		column-gap: var(--dress-gap)
		flex-flow: row
		flex-wrap: wrap

		input
			flex-grow: 1
			flex-shrink: 1

		span
			inline-size: 100%

legend
	font-weight: bold

select
	@extend %cursor-pointer
	background-image: var(--dress-i-sel-d)
	background-position: right center
	background-repeat: no-repeat
	background-size: auto 100%
	padding-inline-end: calc(var(--dress-m-i) / 2 + 24px)

	@media (prefers-color-scheme: dark)
		background-image: var(--dress-i-sel-l)

textarea
	margin-block: calc(var(--dress-m-b) / 2)
	padding-block: var(--dress-p-b)
	padding-inline: var(--dress-p-i)
