@keyframes sc-target-fade
	from
		text-decoration: underline
		text-decoration-thickness: calc(var(--sc-bs) * 4)
		text-decoration-color: var(--sc-ac)
		text-underline-offset: calc(var(--sc-bs) * 4)
	to
		text-decoration: underline
		text-decoration-thickness: calc(var(--sc-bs) * 4)
		text-decoration-color: rgba(0 0 0 / 0)
		text-underline-offset: calc(var(--sc-bs) * 4)

h1, h2, h3, h4, h5, h6
	--sc-m-t: calc(var(--sc-m-v) * 2)

	&:target
		animation: sc-target-fade 2s 1s ease-out backwards
		margin-top: calc(var(--sc-m-t) * -1)
		padding-top: calc(var(--sc-m-t) * 1)

	& + *
		margin-block-start: 0

h1
	line-height: calc(var(--sc-lh) * 2rem)
	font-size: 2rem

h2, h3, h4, h5, h6
	line-height: calc(var(--sc-lh) * 1rem)

h2
	font-size: 1.5rem

h3
	font-size: 1.25rem

h4
	font-size: 1rem

h5, h6
	text-transform: uppercase

	code, kbd
		text-transform: initial

h5
	font-size: 0.875rem

h6
	font-size: 0.75rem
