figure
	margin-inline: calc(var(--dc-lh) * 1.5rem)

	img, object, svg, video
		block-size: auto
		display: block
		margin-inline: auto
		max-block-size: var(--dc-mw)
		max-inline-size: 100%

	>
		a[target="_blank"]:has(img, object, svg, video)::after
			display: none

	&:has(figure)
		align-items: flex-end
		box-sizing: border-box
		display: flex
		flex-flow: row wrap
		gap: var(--dc-m-v)
		inline-size: calc(100vi - var(--dc-m-v) * 2)
		justify-content: center
		margin-inline: calc(-50vi + 50% + var(--dc-m-v))

		> figure
			flex: 1 1 calc(var(--dc-mw) / 2)
			margin: 0
			max-inline-size: calc(var(--dc-mw) / 6 * 7)

			> :first-child
				--dc-m-t: 0

			> :last-child
				--dc-m-b: 0

		// make top figcaption full width
		> figcaption
			--dc-m-b: 0
			--dc-m-t: 0
			box-sizing: border-box
			inline-size: var(--dc-mw)
			flex-basis: 100%
			flex-grow: 1
			flex-shrink: 0
			padding-inline: calc((100vi - var(--dc-mw) - var(--dc-m-v) * 2) / 2)

video
	display: block
	max-inline-size: 100%
