abbr[title]
	cursor: help
	text-decoration: underline dotted

mark
	background: var(--dress-ac)
	color: var(--dress-ac-tx)
	padding-block: calc(var(--dress-p-b) / 8)
	padding-inline: calc(var(--dress-p-i) / 4)

small
	font-size: 0.8em
