:focus-visible
	border-radius: var(--dress-br)
	box-shadow: 0 0 0 calc(var(--dress-fs) / 4) var(--dress-bt-1-h)
	box-shadow: 0 0 0 calc(var(--dress-fs) / 4) color(from var(--dress-bt-1-h) srgb r g b / 0.4)
	outline: solid var(--dress-bs) color-mix(in srgb, var(--dress-fg), var(--dress-bt-1) 75%)
	outline-offset: 0

:focus:not(:focus-visible)
	box-shadow: none
	outline: none

a
	color: var(--dress-lk)

	&:visited
		color: var(--dress-lk-v)

	&:hover, &:focus
		color: var(--dress-lk-h)

	&:active
		color: var(--dress-lk-a)

	&[download],
	&[target="_blank"]
		&::after
			aspect-ratio: 1
			background-size: 100%
			color: inherit
			content: ''
			display: inline-block
			height: 0.8em
			margin-inline-start: calc(var(--dress-p-i) / 8)
			text-decoration: none
			vertical-align: middle
			width: auto

	&[download]
		&::after
			background-image: var(--dress-i-dl-d)

			@media (prefers-color-scheme: dark)
				background-image: var(--dress-i-dl-l)

		&[role='button']
			&::after
				background-image: var(--dress-i-dl-l)

	&[role='button']
		display: inline-block
		text-decoration: none

	&[target="_blank"]
		&::after
			background-image: var(--dress-i-xln-d)

			@media (prefers-color-scheme: dark)
				background-image: var(--dress-i-xln-l)

		&[role='button']
			&::after
				background-image: var(--dress-i-xln-l)

body
	> a[href^="#"]:not([href="#"]):first-child
		background: var(--dress-bg-2)
		border-radius: var(--dress-br)
		border: solid var(--dress-bs) var(--dress-bg-3)
		color: #fff
		display: block
		inset: calc(var(--dress-p-b) * -2) auto auto calc(var(--dress-p-i) / 2)
		padding: calc(var(--dress-p-b) / 8) calc(var(--dress-p-i) / 2)
		position: absolute
		z-index: 1

		&:focus
			top: calc(var(--dress-p-b) / 2)

mark
	a
		color: inherit
