@keyframes sc-fade-out
	0%
		opacity: 1
	100%
		opacity: 0

:target
	position: relative

	&::before
		animation: sc-fade-out 4s ease-in-out forwards
		align-items: center
		color: var(--sc-lk)
		content: '▶︎'
		display: flex
		font-size: 0.8rem
		height: var(--sc-lh)
		justify-content: center
		left: 0
		margin-left: -1.5em
		pointer-events: none
		position: absolute
		top: 0

a
	color: var(--sc-lk)

	&:visited
		color: var(--sc-lk-v)

	&:hover, &:focus
		color: var(--sc-lk-h)

	&:active
		color: var(--sc-lk-a)

	&[role='button']
		display: inline-block
		text-decoration: none

	&[target="_blank"]
		&::after
			aspect-ratio: 1
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M14 3h7v7'/><path d='M3 10v11a1 1 0 0 0 1 1h11'/><path d='M10 14l10-10'/></svg>")
			background-size: 100%
			color: inherit
			content: ''
			display: inline-block
			height: 0.8em
			margin-inline-start: calc(var(--sc-p) / 8)
			text-decoration: none
			vertical-align: middle
			width: auto

			@media (prefers-color-scheme: dark)
				background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M14 3h7v7'/><path d='M3 10v11a1 1 0 0 0 1 1h11'/><path d='M10 14l10-10'/></svg>")

mark
	a
		color: inherit
