dialog, [popover]
	background: var(--dress-bg-2)
	border-radius: var(--dress-br)
	border: solid var(--dress-bs) var(--dress-bg-3)
	max-inline-size: min(var(--dress-mw) - var(--dress-m-b) * 4, 100% - env(safe-area-inset-left) - env(safe-area-inset-right) - var(--dress-m-b) * 4)
	padding-block: var(--dress-p-b)
	padding-inline: var(--dress-p-i)

	>, > form >
		:first-child
			margin-block-start: 0

		:last-child:not(menu)
			margin-block-end: 0

	> form > menu
		justify-content: center
		margin-block: 0 calc(var(--dress-p-b) * -0.5)

dialog
	&::backdrop
		background: color-mix(in srgb, var(--dress-bg) 80%, transparent)
