@media print
	a
		text-decoration: none

		&:link, &:visited
			color: inherit

		&:not([href^='#'], [href^='/'])
			&::after
				content: ' <' attr(href) '>'
				display: inline
				font-size: 0.8em
				font-weight: normal

	mark
		border: 1px solid
