@media print
	:root
		--dress-bg: #fff
		--dress-fg: #000

	a
		text-decoration: none

		&:link, &:visited
			color: inherit

		&:not([href^='#'], [href^='/'])
			&::after
				content: ' <' attr(href) '>'
				display: inline
				font-size: 0.8rem
				font-weight: normal
				text-transform: none

	a[role='button'],
	button,
	input[type='button'],
	input[type='reset'],
	input[type='submit']
		border: solid var(--dress-bs) var(--dress-fg)
		color: var(--dress-fg)
		padding-block: calc(var(--dress-m-b) / 4 - var(--dress-bs))
		padding-inline: calc(var(--dress-m-i) / 2)

	button[type='submit'],
	input[type='submit']
		border-width: calc(var(--dress-bs) * 2)
		color: var(--dress-fg)
		padding-block: calc(var(--dress-m-b) / 4 - var(--dress-bs) * 2)
		padding-inline: calc(var(--dress-m-i) / 2 - var(--dress-bs))

	footer, header
		menu, nav ul
			display: none

	mark
		border: 1px solid
		color: inherit

	nav:has(a[href^="#"]):not(:has(a:not([href^="#"])))
		display: none
