caption
	font-weight: bold
	padding: calc(var(--dc-p) / 2)

table
	border-collapse: collapse
	border-spacing: 0
	display: block
	inline-size: 100%
	overflow-x: auto

tbody
	tr:nth-child(even)
		background: var(--dc-bg-2)

td, th
	border: var(--dc-bs) solid var(--dc-bg-3)
	padding: calc(var(--dc-p) / 2)

tfoot, thead
	background: var(--dc-bg-2)

th
	font-weight: bold
	text-align: center
