
:root
	--sc-bg: rgb(255 255 255)
	--sc-bg-2: color-mix(in srgb, var(--sc-bg), var(--sc-fg) 5%)
	--sc-bg-3: color-mix(in srgb, var(--sc-bg), var(--sc-fg) 10%)
	--sc-fg: rgb(0 0 0)

	--sc-lk: hsl(212 100% 44%)
	--sc-lk-h: hsl(212 97% 34%)
	--sc-lk-v: hsl(270 100% 46%)
	--sc-lk-a: hsl(320 100% 48%)
	--sc-lk-tx: hsl(0 0% 100%)
	--sc-bt-1: hsl(212 100% 40%)
	--sc-bt-1-h: hsl(212 100% 47.1%)
	--sc-bt-1-a: hsl(212 97% 36%)
	--sc-bt-1-tx: var(--sc-bg)
	--sc-bt-2: color-mix(in srgb, var(--sc-bg), var(--sc-fg) 10%)
	--sc-bt-2-h: color-mix(in srgb, var(--sc-bg), var(--sc-fg) 15%)
	--sc-bt-2-tx: var(--sc-fg)
	--sc-ac: hsl(167 100% 54% / 60%)
	--sc-ac-tx: hsl(187 71% 16%)

	// Main (Body) Padding
	--sc-mp: calc(var(--sc-lh) * 2rem)
	// Main (Body) Width: Includes padding
	--sc-mw: 50rem

	--sc-bs: 1px
	--sc-br: 0.25rem
	--sc-m-f: 1rem
	--sc-m-v: calc(var(--sc-lh) * var(--sc-m-f))
	--sc-p-f: 1rem
	--sc-p: calc(var(--sc-lh) * var(--sc-p-f) - var(--sc-bs))
	--sc-m-t: var(--sc-m-v)
	--sc-m-b: var(--sc-m-v)

	--sc-fs: 16px
	--sc-ff: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
	--sc-ff-mono: Menlo, Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace
	--sc-lh: 1.6
	--sc-ts: 2
	--sc-cs: 0.9

	@media (prefers-color-scheme: dark)
		--sc-bg: rgb(0 0 0)
		--sc-fg: rgb(255 255 255)
		--sc-bg-2: color-mix(in srgb, var(--sc-bg), var(--sc-fg) 15%)
		--sc-bg-3: color-mix(in srgb, var(--sc-bg), var(--sc-fg) 30%)

		--sc-lk: hsl(212 100% 60%)
		--sc-lk-v: hsl(270 100% 64%)
		--sc-lk-h: hsl(212 100% 48%)
		--sc-lk-a: hsl(320 100% 64%)
		--sc-bt-1-tx: var(--sc-fg)
		--sc-bt-2: color-mix(in srgb, var(--sc-bg), var(--sc-fg) 30%)
		--sc-bt-2-h: color-mix(in srgb, var(--sc-bg), var(--sc-fg) 20%)
		--sc-ac: hsl(167 100% 63% / 50%)
		--sc-ac-tx: rgb(var(--sc-fg-rgb))
