@media (prefers-color-scheme: light)
	@import "pastie"

@media (prefers-color-scheme: dark)
	@import "dracula"

body
	> footer
		> nav
			align-items: center
			display: flex
			flex-flow: row
			gap: calc(var(--sc-lh) * 1rem)
			justify-content: flex-start
			margin-block: 0
			min-height: calc(var(--sc-lh) * 2rem)

			> a
				align-items: flex-start
				display: inline-flex
				flex-flow: column
				justify-content: flex-start
				position: relative

				&::after
					content: ''
					display: block
					inset: 0
					position: absolute
					z-index: 10

				> object
					display: inline-block
					height: calc(var(--sc-lh) * 1rem)
					inline-size: auto

			> menu
				margin-block-start: 0.8em

	> header
		object
			display: inline
			margin-right: calc(var(--sc-m-v) / 2)
			vertical-align: middle
			margin-bottom: 12px

		+ p:has(img)
			img
				margin: 0

			+ h1
				margin-block-start: 0

div.highlight
	position: relative

.copy
	inset: 0 0 auto auto
	margin: 0
	position: absolute
	transform-origin: 100% 0
	transform: scale(0.8)
