abbr[title] {
	cursor: help;
	text-decoration: underline dotted;
}

del,
ins,
mark {
	padding-block: calc(var(--dress-p-b) / 8);
	padding-inline: calc(var(--dress-p-i) / 4);
}

del {
	background: var(--dress-del);
}

ins {
	background: var(--dress-ins);
	text-decoration: none;
}

mark {
	background: var(--dress-ax);
	color: var(--dress-ax-tx);

	a {
		color: inherit;
	}
}

q {
	font-style: italic;
}

small {
	font-size: 0.8em;
}
