a {
	color: var(--dress-lk);

	&:visited {
		color: var(--dress-lk-v);
	}

	&:focus {
		color: var(--dress-lk-h);
	}

	@media (hover: hover) {
		&:hover {
			color: var(--dress-lk-h);
		}
	}

	&:active {
		color: var(--dress-lk-a);
	}

	&[download],
	&[target='_blank'] {
		&::after {
			aspect-ratio: 1;
			background-color: currentColor;
			block-size: auto;
			content: '';
			display: inline-block;
			inline-size: 0.8em;
			margin-inline-start: calc(var(--dress-p-i) / 8);
			mask: var(--dress-link-icon, var(--dress-i-xln)) center / contain
				no-repeat;
			vertical-align: calc(1 / 12 * -0.8em);
		}
	}

	&[download] {
		--dress-link-icon: var(--dress-i-dl);
	}

	&[role='button'] {
		display: inline-block;
		text-decoration: none;
	}
}
