title= title
meta(content="viewport-fit=cover, width=device-width, initial-scale=1.0" name="viewport")/
meta(content=data.site.description name="description")/
meta(content=data.site.title property="og:title")/
meta(content=data.site.description property="og:description")/
meta(content=absolute_url(image_path('share.png')) property="og:image")/
meta(content="1440" property="og:image:height")/
meta(content="2880" property="og:image:width")/
meta(content=absolute_url property="og:url")/
meta(content="website" property="og:type")/
meta(content="summary_large_image" name="twitter:card")/
meta(content=data.site.title name="twitter:title")/
meta(content=data.site.description name="twitter:description")/
meta(content=absolute_url(image_path('share.png')) name="twitter:image")/
meta(content="@remino" name="twitter:site")/
meta(content="@remino" name="twitter:creator")/
meta(content=absolute_url name="twitter:url")/

